*{
    margin: 0;
    padding: 0;
}

.principal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuestionario{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.principal .cuestionario .entradas{
    padding: 10px 15px 10px;
    width: 100%;
    max-width: 370px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    margin: 10px;
    font-size: 130%;
}

input:focus{
    outline: none;
}

.send{
    background-color: white;
    color: black;
    padding: 10px 15px 10px;
    width: 100%;
    max-width: 370px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    margin: 10px;
    font-size: 130%;
}

.send:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


/*Pagina de cada signo  */

/*Pagina Base */

.signo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.signo h1{
    margin-top: 20px;
    font-size: 100px;
}

.signo h2{
    font-size: 80px;
    margin-top: 10px;
}

.description{
    width: 500px;
    height: 400px;
    display: flex;
    flex-flow: column wrap;
    text-align: justify;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: beige;

}

.description h2 b{
    font-size: 40px;
}

.description h3{
    font-size: 25px;
    font-weight: 200;
}

#fechaSigno{
    margin: 10px 5px 10px 2px;
}

.none{
    display: none;
}